html, body {
  font-family: 'Manjari', sans-serif;
  height: 100%;
  overflow: hidden;
}

#start-vis-btn, #clear-btn, #stop-vis-btn, #export-btn{
  border: 1px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
}

#clear-btn:hover {
  background-color: whitesmoke;
  color: rgb(245, 0, 0);
  border-bottom: 3px solid rgb(245, 0, 0);
}

#start-vis-btn:hover{
  background-color: whitesmoke;
  color: blue;
  border-bottom: 3px solid rgb(0, 0, 245);
}

#stop-vis-btn:hover{
  background-color: whitesmoke;
  color: orange;
  border-bottom: 3px solid rgb(255, 165, 0);
}

#export-btn:hover{
  background-color: whitesmoke;
  color: rgb(91, 192, 222);
  border-bottom: 3px solid rgb(91, 192, 222);
}

.btn-secondary:hover {
  background-color: whitesmoke;
  color: grey;
  border-bottom: 3px solid grey;
}

#start-vis-btn:active, #clear-btn:active, #stop-vis-btn:active, #export-btn:active, .btn-secondary:active {
  border-bottom: 1px solid whitesmoke;
}

#main-navbar-top, #main-navbar-bottom{
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  width: 100%;
  z-index: 999;
  position: fixed;
}

#main-navbar-bottom{
  border-top: 1px solid white;
  border-bottom: 3px solid rgba(208, 208, 248, 0.523);
  margin-top: 55px;
  min-height: 55px;
}

#root{
  /*position: relative;
  top: 20px;*/
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

table {
  overflow-x: auto;
}

td{
  border: 1px solid #dcdcdc;
  transition: all 0.15s ease-out;
}

td:hover{
  cursor: pointer;
}

.dragscroll {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
  color: #fff;
}


.btn-sm {
  height: 60%;
}

/* House classes */

.house-blue { background-color: blue; }

.house-red { background-color: red; }

.house-green { background: green; }